@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f7f7;
    margin: 0;
    padding: 0;
}

#divider{
    background-color: black;
    width: 90%;
    height: 1px;
    margin: 0 auto;
}