body{
    font-size: 20px;
}

#lblHello{
    color: green;
}

.textOneLineWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15%;
    /* background-color: blue; */
}

.iconAndDetailWrapper{
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: green; */
}

.iconAndDetailWrapper img{
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-left: 15%;
}

#descriptionWrapper{
    width: 73%;
    margin: 30px auto;
    height: auto;
}

#descriptionWrapper p{
    line-height: 50px;
}

#lblItemTitle{
    font-size: 30px;
    font-weight: bold;
}

#lblItemCondition{
    font-size: 30px;
    color: red;
}

#lblItemId{
    margin-left: 15%;
    color: gray;
    margin-top: -25px;
}

#lblItemPrice{
    color: red;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15%;
}

#informationDiv{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}

#itemInfoDiv{
    width: 73%;
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#imgWrapper{
    width: 100%;
    text-align: center;
    /* margin-top: 100px; */
}

#contactInfoDiv{
    width: 26%;
    height: 500px;
    background-color: white;
    margin-left: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

#contactImgWrapper{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 80px;
}

#contactImgWrapper img{
    width: 200px;
    height: 200px;
}

#contactImgWrapper img:hover{
    filter: drop-shadow(8px 8px 16px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
    cursor: pointer;
}

#directoryPathLink{
    display: flex;
    margin-left: 10%;
    padding-top: 20px;
}

#lblHome{
    font-weight: lighter;
    color: rgba(5, 5, 114, 0.704);
}

#lblCategory{
    font-weight: lighter;
    color: rgba(5, 5, 114, 0.704);
}

#lblHome:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
    font-weight: bold;
}

#lblCategory:hover{
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.3s;
    font-weight: bold;
}

#itemImage{
    width: 70%;
    height: 700px;
}

#addMoreImageDiv{
    width: 70%;
    height: 150px;
    background-color: green;
    margin: 0 auto;
}

#ownerImage{
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid black;
}

#btnEditPost{
    width: 58.5%;
    height: 50px;
    margin-left: 10%;
    color: white;
    font-size: 18px;
    background-color: green;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
    display: none;
}

#btnEditPost:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: .5s;
}