#navBar {
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1000;
}

#categoriesDiv {
    width: 70%;
    height: 50%;
    margin: 10% auto;
    border-radius: 10px;
}

#cmbCategories {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 350px;
    font-size: 18px;
}

#txtItems {
    font-family: 'Poppins', sans-serif;
    height: 50px;
    width: 400px;
    border: 1px solid black;
    padding-left: 20px;
    font-size: 18px;
}

#btnSell {
    font-family: 'Poppins', sans-serif;
    width: 200px;
    height: 50px;
    background-color: rgb(25, 194, 25);
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

#btnSell:hover {
    cursor: pointer;
    transition: .5s;
    transform: scale(1.01);
}

#lblLogo {
    user-select: none;
    cursor: pointer;
}

#imgProfile {
    float: right;
    width: 70px;
    height: 70px;
    background-color: #f8f7f7;
    border-radius: 50%;
    object-fit: cover;
}

#imgProfile:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s;
}

#searchContainer {
    display: flex;
    gap: 0px;
    align-items: center;
}

#topCategoryDiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

#bottomCategoryDiv{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.categoryBlock{
    width: 20%;
    height: 100%;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.categoryBlock img{
    border: 2px solid black;
}

.imgCategory{
    margin-top: 10%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit:fill;
    background-color: #f8f7f7;
}

.imgCategory:hover{
    cursor: pointer;
    transition: .5s;
    transform: scale(1.05);
}

#lblYourItems{
    margin-left: 5%;
    margin-top: -5%;
}


#lblAllListedItems{
    margin-top: 50px;
    margin-left: 5%;
}

#bottomButtonWrapper{
    width: 100%;
    text-align: center;
}

#btnViewAll{
    width: 90%;
    height: 50px;
    margin: 0 auto;
    border: none;
    background-color: rgb(25, 194, 25);
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

#btnViewAll:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.01);
    transition: 0.5s;
}

footer{
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: white;
}

footer h2{
    font-weight: lighter;
    text-align: center;
    line-height: 300px;
    vertical-align: middle;
    user-select: none;
}